<!DOCTYPE html>
<html>
<head>
  <title>Kaitlin Carpenter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-narrow">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class='<%= "active" if @active == :index %>'><a href="/">Hello</a></li>
        <li class='<%= "active" if @active == :about %>'><a href="/about">About Me</a></li>
        <li class='<%= "active" if @active == :contact %>'><a href="/contact">Contact me!</a></li>
      </ul>
      <h3 class="muted">
    <a class="twitter-link" href="https://twitter.com/suchthekaitlin"><i class="icon-twitter"></i> suchthekaitlin</a>
    <a href="http://www.linkedin.com/in/kaitlincarpenter"><i class="icon-linkedin"></i> </a>
    <a href="http://pinterest.com/suchthekaitlin"><i class="icon-pinterest"></i> </a>
    <a href="http://www.facebook.com/SuchtheKaitlin"><i class="icon-facebook"></i> </a>

      </h3>
    </div>
    <hr>
    <%= yield %>
    <hr>
    <div class="footer">
      <p>This site may not always be perfect - I'm building it to learn and it's a constant work-in-progress.
      </p>
      <p>
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          -
          <%= link_to "Profile", edit_user_registration_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %>
          -
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </p>
    </div>
  </div>
</body>
</html>
